.btn-primary{
    height: 72px;
    min-height: 72px;
    font-size: 22px;
    line-height: 140%;
    font-weight: 600;
}

.btn-secondary {
    height: 60px;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    min-height: 60px;
}

.btn-tertiary {
    height: 46px;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    min-height: 46px;
}