h1, .h1 {
    font-size: 67px;
    line-height: 110%;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
}

h2, .h2 {
    font-size: 51px;
    line-height: 110%;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
}

h3, .h3 {
    font-size: 38px;
    line-height: 120%;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
}

h4, .h4 {
    font-size: 28px;
    line-height: 140%;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
}

h5, .h5 {
    font-size: 22px;
    line-height: 160%;
    font-weight: 600;
    font-family: "Space Mono", sans-serif;
}

.base {
    font-size: 22px;
    line-height: 140%;
    font-weight: 400;
}

body, .p {
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
}

caption, .caption {
    font-size: 12px;
    line-height: 110%;
    font-weight: 400;
}